<div class="match-validation-container">
    <mat-tab-group>
        <mat-tab label="overview">
            <app-step-match-overview [stepMatchOverviewData]="step1Data"></app-step-match-overview>
        </mat-tab>
        <mat-tab label="players">
            <app-step-match-players [stepMatchPlayersData]="step2Data"></app-step-match-players>
        </mat-tab>
        <mat-tab label="formations">
            <app-step-match-formations [stepMatchFormationsData]="step3Data"></app-step-match-formations>
        </mat-tab>
        <mat-tab label="phases">
            <app-step-match-phases [stepMatchPhasesData]="step4Data"></app-step-match-phases>
        </mat-tab>
        <mat-tab label="subs">
            <app-step-match-subs [stepMatchSubsData]="step5Data"></app-step-match-subs>
        </mat-tab>
    </mat-tab-group>
</div>
